*{
    margin: 0px;
    font-style: sans-serif;
    font-weight: 500;
}
body{
    background-color: rgba(128, 128, 128, 0.334);
}
#img-div{
    height: 700px;
    width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
#image{
    max-width: 100%;
    height: auto;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 1em;
    display: block;
}
#img-caption{
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
}
#title{
    text-align: center;
    font-weight: 800;
    font-size: 3em;
    padding-top: 20px;
    text-transform: uppercase;
}
#p1{
    text-align: center;
    font-style: italic;
}
.border{
    border-bottom: 1px solid #888989;
    margin: 2px 0;
}
.info h3{
    text-align: center;
    font-weight: 600;
    font-size: 1.4em;
    margin: 20px 0;
}
li{
    margin: 10px 0;
}
li .year{
    font-weight: 600;
    font-size: 1.2rem;
    padding-right: 20px;
}
li .divide{
    padding-left: 20px;
    padding-right: 10px;
}
.footer{
    width: 300px;
    margin: 20px auto;
    font-size: 1.2em;
}
